src/empprofile/empRecord.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://namespace.profile.com/empRecord/e"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://namespace.profile.com/empRecord/e">
<xsd:element name="empRecord">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="company" type="xsd:string"/>
			<xsd:element name="duration" type="xsd:string"/>
			<xsd:element name="year" type="xsd:int"/>
			<xsd:element name="position" type="xsd:string"/>                       
		</xsd:sequence>
                <xsd:attribute name="id" type="xsd:string">
	</xsd:complexType>
</xsd:element>              
</xsd:schema>