src/company_info.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="company_info">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string"/>
                <xsd:element name="category" type="xsd:string"/>
                <xsd:element name="founders" type="xsd:string"/>
                <xsd:element name="ceo" type="xsd:string"/>
                <xsd:element name="location" type="xsd:string"/>
                <xsd:element name="contacts" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>              
</xsd:schema>